.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



#leftmenu {
  top: 0%;
  width: 230px;
  left: 0%;
  right: 0px;
  bottom: 0%;

}

#leftmenulight {
  top: 0%;
  width: 230px;
  left: 0%;
  right: 0px;
  bottom: 0%;

}

#spacetoggle {
  top: 0%;
  width: 230px;
  left: 0%;
  right: 0px;
  bottom: 0%;

  position: absolute;
}

#main {
  background-color: antiquewhite;
}
#smspage {
  left: 60px;
  width: 55%;
  top: 20px;
  position: fixed;
  margin: 15px;
}

#chatbox {
  left: 600px;
  width: 61%;
  top: 20px;
  position: fixed;
  margin: 15px;
}



.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}